// Typography
// --------------------------------------------------
html,
body {
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #4a4a4a;
}


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  line-height: 1.2em;
  strong, b {
    font-weight: 400;
  }
}

h1 {
  font-size: 2.3em; // 36px
}
h2 {
  font-size: 2em; // 32px
  @media (max-width:767px) {
    font-size: 1.6em;
  }
}
h3 {
  font-size: 1.875em; // 30px
}
h4 {
  font-size: 1.5em; // 24px
}
h5 {
  font-size: 1.25em; // 20px
}
h6 {
  font-size: 1.15em; // 18px
}


// Body text
// -------------------------

p {
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em; // 16px
  line-height: 1.5em; // 24px
  color: #4a4a4a;
  font-weight: 300;
}
