.top15 { 
  margin-top:15px!important;
}
.bottom15 { 
  margin-bottom:15px!important;
}
.left15 { 
  margin-left:15px!important;
}
.right15 { 
  margin-right:15px!important;
}
.padtop { 
  padding-top:15px!important;
}
.padbottom { 
  padding-bottom:15px!important;
}
.padleft { 
  padding-left:15px!important;
}
.padright { 
  padding-right:15px!important;
}
.no-margins {
  margin: 0 !important;
}
.full-width {
  width: 100%;
}
.alignleft {
  float: left;
}

/* 7 Column grid fix */
.seven-cols .col-md-1,
.seven-cols .col-sm-1,
.seven-cols .col-lg-1 {
  width: 14.285714285714285714285714285714%;
  *width: 14.285714285714285714285714285714%;
}

//Youtube Fancybox modal shortcode [youtube-modal]
.fancytube {
  position: relative;
  display: block;
  i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

body.admin-bar {
  .navbar.navbar-fixed-top {
    margin-top: 32px;
  }
  .navbar.navbar-fixed-top.slide-active {
    margin-top: 32px;
  }
  // &.slide-active {
  //   margin-top: 32px;
  // }
}

.flag-banner {
  width: 100%;
  height: 23px;
  background-image: url(../img/bg-border.png);
  background-repeat: repeat-x;
  @media (max-width:767px) {
    &.header-flag {
      display: none;
    }
  }
}

hr.blue-bottom-border {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 5px solid #3FAFED;
}

a.red-borders {
  display: block;
  border-top: 1px solid #f40b0b;
  border-bottom: 1px solid #f40b0b;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.red {
  color: #f40b0b;
}

a {
  color: #1989C7;
  font-weight: 400;
  transition: color 0.1s ease;
  &:visited {
    color: #1989C7;
  }
  &:active,
  &:hover,
  &:focus {
    color: #37AFED;
    text-decoration: underline;
    transition: color 0.1s ease;
  }
  &.disabled {
    color: #9b9b9b;
    font-weight: 200;
  }
}

// Primary Call to Action button
.btn-cyan {
  padding: 8px;
  font-size: 15px;
  line-height: 1em;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #1989C7;
  color: #ffffff;
  transition: all 0.15s ease;
  text-align: center;
  &:visited {
    color: #ffffff;
  }
  &:hover, &:focus {
    color: #fff;
    background-color: #4EBEFC;
    transition: all 0.15s ease;
  }
}

.btn-contrast-border {
  border: solid 2px #1989C7;
  margin: 3px;
  color: #333;
  background: #fff;
  font-size: 14px;
  line-height: 14px;
  padding: 3px 12px;
  transition: all 0.15s ease;
  &:visited {
    color: #333;
  }
  &:hover, &:active, &:focus{
    color: white;
    border: solid 2px #4EBEFC;
    background: #4EBEFC;
    transition: all 0.15s ease;
  }
}

.btn-danger {
  border: 0;
  border-bottom: 2px solid #87111f;
  text-transform: uppercase;
  margin-bottom: 15px;
  transition: all 0.15s ease;
  &:visited {
    color: #fff;
  }
  &:hover {
    color: #fff;
    background: #c51a28;
    transition: all 0.15s ease;
  }
  &:focus,
  &.focus,
  &:active,
  &.active,
  .btn-danger .open > .btn-info.dropdown-toggle {
    color: #fff;
    background: #aa1722;
  }
}

.btn-red {
  font-weight: 300;
  padding: 8px 30px;
  line-height: 1em;
  border: none;
  border-radius: 25px;
  background-color: #f40b0b;
  color: #ffffff;
  transition: background-color 0.2s;
  display: inline-block;
  &:visited {
    color: #fff;
  }
}
.btn-red:hover, .btn-red:active, .btn-red:focus {
  color: #fff;
  background-color: #ea002a;
  transition: background-color 0.2s;
}


.dwnld-btn {
  border: solid 1px #1989C7;
  border-radius: 3px;
  color: #1989C7;
  margin: 3px;
  text-transform: uppercase;
  background: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 3px 40px;
  position: relative;
  text-align: center;
  transition: all 0.15s ease;
  &:visited, &:hover, &:active, &:focus {
    color: #4EBEFC;
    border-color: #4EBEFC;
    transition: all 0.15s ease;
  }
  &:after {
    font-family: FontAwesome;
    content: "\f019";
    position: absolute;
    right: 8px;
  }
}

hr.double-line-hr {
  height: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 2px dotted #ffcc66;
  border-bottom: 3px solid #67bde1;
}


// Youtube responsiveness for Jetpack shortcode
.embed-youtube,
.embed-vimeo,
.googlemaps {
  overflow: hidden;
  padding-bottom: 56.25%;
  margin-bottom: 15px;
  position: relative;
  height: 0;
}

.embed-youtube iframe,
.embed-vimeo iframe,
.googlemaps iframe,
.embed-resp object {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

//Fancybox modal overrides
.fancybox-close {
  background-image: none !important;
  text-align: center;
  top: 0 !important;
  right: 0 !important;
  &:hover {
    text-decoration: none;
  }
  &:before {
    font-family: FontAwesome;
    content: '\f00d';
    color: #4a4a4a;
    display: inline-block;
    font-size: 18px;
    padding-top: 6px;
  }
}
.page-template-page-crew .fancybox-skin {
  @media screen and (max-width: 767px) {
    padding: 30px !important;
  }
}
.fancybox-overlay {
  background: rgba(255, 255, 255, 0.5) !important;
}

