// COLORS
$link-color:    #005d8f;
$red:           #ED1B24;
$blue:          #02394F;
$teal:          #00ABCD;
$bg-color:      #f3f3f3;
$border-color:  #02394F;
$light-grey:    #F0F0F0;
$grey:          #BCBCBC;
$med-dark-grey: #979797;
$dark-grey:     #4F4F4F;
$headings-color:#ED1B24;

@import "fonts.scss";
@import "global.scss";
@import "nav-level-1.scss";
@import "nav-level-2.scss";
@import "nav-flyout.scss";
@import "front-page.scss";
@import "footer.scss";
@import "home.scss";
@import "page.scss";
@import "404-page.scss";
@import "sidebar.scss";

/* Temporary fixes for moving from TwentyTen theme to BS3 */
img.alignleft.size-thumbnail {
  margin-right: 15px;
  float: left;
}